<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.testdemo.mapper.ContainerMapper">

    <resultMap id="courierRM" type="com.example.testdemo.entity.Container">

    </resultMap>

    <select id="getIds" resultType="java.lang.Integer">
        select id from sustc.public.container where type = #{type}
    </select>

    <select id="getContainerById" resultType="com.example.testdemo.entity.Container">
        select * from sustc.public.container where id = #{id}
    </select>


    <select id="getOldestContainer" resultType="java.lang.Integer">
        select max(b.time - c.time) service_time
        from sustc.public.transit b
                 join sustc.public.transit c on
                (
                    select container_id
                    from sustc.public.record r
                    where r.id = c.record_id
                      and r.container_id in (select id from sustc.public.container d where d.type = #{type})
                )
                =
                (
                    select container_id
                    from sustc.public.record r
                    where r.id = b.record_id
                      and r.container_id in (select id from sustc.public.container d where d.type = #{type})
                )
        where c.type = 2
          and b.type = 3;
    </select>


</mapper>