<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.testdemo.mapper.RecordMapper">

    <resultMap id="recordRM" type="com.example.testdemo.entity.Record">
        <result column="log_time" property="logTime"/>
        <result column="item_name" property="itemName"/>
        <result column="item_class" property="itemClass"/>
        <result column="item_price" property="itemPrice"/>
        <result column="company_id" property="companyId"/>
        <result column="container_id" property="containerId"/>
        <result column="ship_id" property="shipId"/>
    </resultMap>

    <update id="updateByModel">
        update sustc.public.record
        set log_time     = #{r.logTime},
            item_name    = #{r.itemName},
            item_class   = #{r.itemClass},
            item_price   = #{r.itemPrice},
            ship_id      = (select s.id from sustc.public.ship s where s.name = #{r.ship}),
            company_id   = (select c.id from sustc.public.company c where c.name = #{r.company}),
            container_id = (select c.id from sustc.public.container c where c.code = #{r.containerCode}),
            state        = #{type+1}
        where state != 4
          and id = #{r.recordId}
    </update>
    <update id="updateToExported">
        update sustc.public.record
        set container_id = #{containerId},
            ship_id      = #{shipId},
            state        = 2
        where id = #{id};
    </update>


    <delete id="deleteByIds">
        delete from sustc.public.record where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getRecordsByModel" resultMap="recordRM">
        select *
        from sustc.public.record
    </select>

    <select id="getIds" resultType="java.lang.Integer">
        select id from sustc.public.record
        <where>
            <if test="record.itemName != null and record.itemName != ''">
                and item_name = #{record.itemName}
            </if>
            <if test="record.companyId != null">
                and company_id = #{record.companyId}
            </if>
            <if test="record.containerId != null">
                and container_id = #{record.containerId}
            </if>
            <if test="record.shipId != null ">
                and ship_id = #{record.shipId}
            </if>
            <if test="record.itemClass != null and record.itemClass != '' ">
                and item_class = #{record.itemClass}
            </if>
            <if test="record.itemPrice != null">
                and item_price = #{record.itemPrice}
            </if>
            <if test="record.state != 0">
                and state = #{record.state}
            </if>
        </where>
    </select>

    <select id="getRecordById" resultMap="recordRM">
        select *
        from sustc.public.record
        where id = #{id}
    </select>

    <select id="getRecordByIds" resultMap="recordRM">
        select * from sustc.public.record where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

    <select id="getIdsByType" resultType="java.lang.Integer">
        select id
        from sustc.public.record
        where state = #{type}
    </select>

    <select id="getIdsByShip" resultType="java.lang.Integer">
        select id
        from sustc.public.record
        where state = #{type}
          and ship_id in
              (select s.id from sustc.public.ship s where s.name like #{condition})
    </select>

    <select id="getIdsByContainer" resultType="java.lang.Integer">
        select id
        from sustc.public.record
        where state = #{type}
          and container_id in
              (select c.id from sustc.public.container c where c.type like #{condition})
    </select>

    <select id="getIdsByItemClass" resultType="java.lang.Integer">
        select id
        from sustc.public.record
        where state = #{type}
          and item_class like #{condition}
    </select>

    <select id="getIdsByCompany" resultType="java.lang.Integer">
        select id
        from sustc.public.record
        where state = #{type}
          and company_id
            in (select c.id from sustc.public.company c where c.name like #{condition});
    </select>
    <select id="getAllUnFinished" resultType="java.lang.Integer">
        select id from sustc.public.record where state = 3;
    </select>

    <select id="getAllUnExported" resultType="java.lang.Integer">
        select id from sustc.public.record where state = 1;
    </select>
    <select id="getAllExported" resultType="java.lang.Integer">
        select id from sustc.public.record where state = 2;
    </select>


</mapper>