<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.testdemo.mapper.TransitMapper">

    <resultMap id="transitRM" type="com.example.testdemo.entity.Transit">
        <result column="record_id" property="recordId"/>
        <result column="city_id" property="cityId"/>
    </resultMap>

    <insert id="addBatch" parameterType="list">
        <foreach collection="list" item="item" open="" close="" index="index" separator=";">
            insert into sustc.public.transit (type, time, tax, city_id, record_id)
            VALUES
            (
            #{item.type},
            #{item.time},
            #{item.tax},
            #{item.cityId},
            #{item.recordId}
            )
            on conflict do nothing
        </foreach>

    </insert>


    <delete id="deleteByRecordIds">
        delete from sustc.public.transit where transit.record_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>


    <select id="getTransitsByModel" resultMap="transitRM">
        select * from sustc.public.transit
        <where>
           <if test="type != 0">
               and type = #{type}
           </if>
            <if test="time != null">
                and time = #{time}
            </if>
            <if test="tax != null">
                and tax = #{tax}
            </if>
            <if test="city_id != null">
                and city_id = #{cityId}
            </if>
            and record_id = #{recordId}
        </where>

    </select>

    <select id="getTransitsByRecordId" resultMap="transitRM">
        select * from sustc.public.transit where record_id = #{id};
    </select>

    <select id="getRecordIdByDateAndType" resultType="java.lang.Integer">
        select record_id from sustc.public.transit where type = #{type} and time = #{date};
    </select>

    <select id="getRecordIdByTaxAndType" resultType="java.lang.Integer">
        select record_id from sustc.public.transit where type = #{type} and tax = #{tax};
    </select>

    <resultMap id="infoSum" type="java.util.HashMap">
        <result column="info" property="key" javaType="java.lang.String"/>
        <result column="sum" property="value" javaType="java.lang.Double"/>
    </resultMap>

    <select id="getResult3" resultMap="infoSum">
        select c.name, sum(t.tax) as cost
        from sustc.public.transit t
                 join sustc.public.city c on t.city_id = c.id
        where t.type = 2
          and t.record_id in
              (select r.id from sustc.public.record r
               where r.item_class in
                     (select g.item_class from sustc.public.record g order by random() limit 30))
        group by c.name
        order by cost limit 1;
    </select>
</mapper>