*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.el-alert {
     margin: 20px 0 0;
 }
.el-alert:first-child {
    margin: 0;
}

.el-menu-item {
    background-color: #eddcab;
}
.el-menu-item.is-active {
    background-color: #d4b96e !important;
}

.el-submenu /deep/ .el-submenu__title {
    background-color: rgba(0, 0, 0, 0.1);
}

